# 接口数据的获取、存储与应用

### 以金融大数据tushare为例

### https://tushare.pro/
http://tushare.org/index.html

## 1 目前在上映电影

In [15]:
import tushare as ts  
import os,time,sys,re,datetime

In [16]:
% timeit df = ts.realtime_boxoffice() #

UsageError: Line magic function `%` not found.

In [17]:
df = ts.realtime_boxoffice()
print(df)

   BoxOffice Irank    MovieName boxPer movieDay sumBoxOffice  \
0   24091.82     1  复仇者联盟4：终局之战  90.45        7    259032.60
1    1367.02     2         何以为家   5.13        2      2667.07
2     472.29     3           雪暴   1.77        1       495.97
3     199.44     4       下一任：前任   0.75        0       199.44
4     110.85     5        反贪风暴4   0.42       27     77959.12
5     105.69     6         动物出击   0.40        1       108.20
6      89.28     7       撞死了一只羊   0.34        5       692.72
7      70.19     8          调音师   0.26       28     31426.11
8      33.51     9      神奇乐园历险记   0.13       12      2764.95
9      21.52    10         天上再见   0.08        1        37.47
10     73.30    11           其它   1.00        0         0.00

                   time
0   2019-04-30 23:37:01
1   2019-04-30 23:37:01
2   2019-04-30 23:37:01
3   2019-04-30 23:37:01
4   2019-04-30 23:37:01
5   2019-04-30 23:37:01
6   2019-04-30 23:37:01
7   2019-04-30 23:37:01
8   2019-04-30 23:37:01
9   2019-04-30 23:37:01
10  2019-04-30 23:37:01

In [18]:
??ts

## 2 获取指定股票数据

In [19]:
pro = ts.pro_api('6cbb7738f458c6366abd8601dc143cf493649fb97a7e6b4f43966902')
df = pro.daily(ts_code='600728.sh', start_date='20190401', end_date='20190416')
print(df)

      ts_code trade_date   open   high    low  close  pre_close  change  \
0   600728.SH   20190416  11.15  11.75  11.08  11.69      11.30    0.39
1   600728.SH   20190415  11.59  11.82  11.26  11.30      11.30    0.00
2   600728.SH   20190412  11.20  11.57  11.20  11.30      11.19    0.11
3   600728.SH   20190411  11.70  11.77  11.12  11.19      11.59   -0.40
4   600728.SH   20190410  11.77  11.77  11.24  11.59      11.76   -0.17
5   600728.SH   20190409  11.84  12.15  11.66  11.76      11.84   -0.08
6   600728.SH   20190408  12.26  12.37  11.58  11.84      12.38   -0.54
7   600728.SH   20190404  12.75  12.92  12.35  12.38      12.78   -0.40
8   600728.SH   20190403  12.68  13.06  12.61  12.78      12.85   -0.07
9   600728.SH   20190402  12.72  13.45  12.60  12.85      12.65    0.20
10  600728.SH   20190401  12.37  12.80  12.25  12.65      12.22    0.43

    pct_chg         vol       amount
0    3.4513   427840.42   492634.526
1    0.0000   445302.60   515447.283
2    0.9830   354701.80   403353.920
3   -3.4513   461470.89   524978.826
4   -1.4456   501787.09   578317.048
5   -0.6757   465878.30   551994.595
6   -4.3619   827695.12   987643.490
7   -3.1299   688628.17   863465.076
8   -0.5447   595345.76   760684.875
9    1.5810  1037668.78  1354271.928
10   3.5188   764361.93   958825.117

In [20]:
pro = ts.pro_api('6cbb7738f458c6366abd8601dc143cf493649fb97a7e6b4f43966902')
df = pro.daily(ts_code='600728.sh', start_date='20181101', end_date='20181118')
print(df)

      ts_code trade_date  open  high   low  close  pre_close  change  pct_chg  \
0   600728.SH   20181116  8.35  8.36  7.93   8.15       7.79    0.36   4.6213
1   600728.SH   20181115  7.79  7.79  7.79   7.79       7.08    0.71  10.0282
2   600728.SH   20181114  7.06  7.22  7.01   7.08       7.06    0.02   0.2833
3   600728.SH   20181113  6.95  7.28  6.95   7.06       7.05    0.01   0.1418
4   600728.SH   20181112  6.97  7.06  6.88   7.05       6.90    0.15   2.1739
5   600728.SH   20181109  6.97  7.15  6.86   6.90       6.92   -0.02  -0.2890
6   600728.SH   20181108  7.14  7.22  6.89   6.92       7.16   -0.24  -3.3520
7   600728.SH   20181107  7.41  7.47  7.12   7.16       7.23   -0.07  -0.9682
8   600728.SH   20181106  7.00  7.43  6.84   7.23       7.09    0.14   1.9746
9   600728.SH   20181105  6.80  7.18  6.75   7.09       6.82    0.27   3.9589
10  600728.SH   20181102  7.00  7.00  6.73   6.82       6.83   -0.01  -0.1464
11  600728.SH   20181101  6.83  6.83  6.82   6.83       6.21    0.62   9.9839

           vol       amount
0   1244701.10  1019665.838
1    175086.39   136392.298
2    235544.84   167637.213
3    310362.62   220376.360
4    180260.71   126159.363
5    187709.25   131548.612
6    293526.74   207000.901
7    367549.96   266832.527
8    443857.38   316432.201
9    449428.23   311047.933
10   503205.87   343960.451
11   217298.06   148414.526

In [21]:
df=df[['ts_code','open','close','pct_chg','vol','amount','trade_date']]

In [22]:
df.reindex(['trade_date'])
df=df.sort_index()
df=df.sort_values(by='trade_date')
df.head()#打印前五条

      ts_code  open  close  pct_chg        vol      amount trade_date
11  600728.SH  6.83   6.83   9.9839  217298.06  148414.526   20181101
10  600728.SH  7.00   6.82  -0.1464  503205.87  343960.451   20181102
9   600728.SH  6.80   7.09   3.9589  449428.23  311047.933   20181105
8   600728.SH  7.00   7.23   1.9746  443857.38  316432.201   20181106
7   600728.SH  7.41   7.16  -0.9682  367549.96  266832.527   20181107

#### 理解日期类型

In [23]:
TODAY = datetime.date.today()
YTODAY=TODAY-datetime.timedelta(1)
print(TODAY,YTODAY)
CURRENTDAY=TODAY.strftime('%Y-%m-%d')
print(CURRENTDAY)
CURRENTDAY=YTODAY.strftime('%Y%m%d')
print(CURRENTDAY)

2019-04-30 2019-04-29
2019-04-30
20190429

In [24]:
df = pro.daily(ts_code='600728.SH',end_date=CURRENTDAY)
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,600728.SH,20190429,10.68,10.76,9.66,9.72,10.68,-0.96,-8.9888,569687.92,574654.140
1,600728.SH,20190426,10.65,10.94,10.58,10.68,10.67,0.01,0.0937,302493.26,325908.241
2,600728.SH,20190425,11.25,11.29,10.67,10.67,11.37,-0.70,-6.1566,428059.68,469238.473
3,600728.SH,20190424,11.05,11.45,10.88,11.37,11.04,0.33,2.9891,394147.01,439994.189
4,600728.SH,20190423,11.16,11.28,10.98,11.04,11.16,-0.12,-1.0753,292211.03,324988.729

In [25]:
df.shape

(4000, 11)

#### 获取所有交易标的某天的交易数据

In [26]:
df = pro.daily(trade_date='20181120')
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20181120,10.75,10.80,10.52,10.57,10.85,-0.28,-2.5806,1033877.53,1099654.683
1,000002.SZ,20181120,25.78,26.43,25.23,25.65,25.97,-0.32,-1.2322,474151.80,1221340.780
2,000004.SZ,20181120,17.33,17.48,16.80,16.92,17.33,-0.41,-2.3658,4911.00,8369.820
3,000005.SZ,20181120,3.11,3.13,3.03,3.06,3.17,-0.11,-3.4700,138100.03,42348.709
4,000006.SZ,20181120,5.66,5.70,5.47,5.49,5.81,-0.32,-5.5077,293993.88,164306.995

In [27]:
df.shape

(3520, 11)

## 3 利用20日均线进行量化交易

In [28]:
#某标的某段时间交易数据，不含均线数据
df = pro.daily(ts_code='600728.sh', end_date='20181118')
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,600728.SH,20181116,8.35,8.36,7.93,8.15,7.79,0.36,4.6213,1244701.10,1019665.838
1,600728.SH,20181115,7.79,7.79,7.79,7.79,7.08,0.71,10.0282,175086.39,136392.298
2,600728.SH,20181114,7.06,7.22,7.01,7.08,7.06,0.02,0.2833,235544.84,167637.213
3,600728.SH,20181113,6.95,7.28,6.95,7.06,7.05,0.01,0.1418,310362.62,220376.360
4,600728.SH,20181112,6.97,7.06,6.88,7.05,6.90,0.15,2.1739,180260.71,126159.363

In [29]:
#某标的某段时间交易数据，含均线数据
df = ts.get_hist_data('600728')
df.head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2019-04-30,9.96,10.66,10.61,9.90,693060.25,0.89,9.16,10.610,10.927,11.398,477489.63,407876.46,494254.17
2019-04-29,10.68,10.76,9.72,9.66,569687.94,-0.96,-8.99,10.696,11.035,11.500,397319.78,381354.48,497819.26
2019-04-26,10.65,10.94,10.68,10.58,302493.25,0.01,0.09,10.984,11.193,11.625,354151.56,368915.94,504948.83
2019-04-25,11.25,11.29,10.67,10.67,428059.69,-0.70,-6.16,11.100,11.255,11.693,347848.72,374136.80,522010.18
2019-04-24,11.05,11.45,11.37,10.88,394147.00,0.33,2.99,11.212,11.307,11.769,341002.84,377477.92,534380.38

In [30]:
df.shape

(611, 13)

In [50]:
def parse(scode):
    '''process stock'''
    is_buy    = 0
    buy_val   = []
    buy_date  = []
    sell_val  = []
    sell_date = []
    df = ts.get_hist_data(scode)
    ma10 = df[u'ma10']
    close = df[u'close']
    rate = 1.0
    idx = len(ma10)

    while idx > 0:
        idx -= 1
        close_val = close[idx]
        ma10_val = ma10[idx]
        if close_val > ma10_val:
                if is_buy == 0:
                        is_buy = 1
                        buy_val.append(close_val)
                        buy_date.append(close.keys()[idx])
        elif close_val < ma10_val:
                if is_buy == 1:
                        is_buy = 0
                        sell_val.append(close_val)
                        sell_date.append(close.keys()[idx])

    print("stock number: %s" %STOCK)
    print("buy count   : %d" %len(buy_val))
    print("sell count  : %d" %len(sell_val))

    for i in range(len(sell_val)):
        rate = rate * (sell_val[i] * (1 - 0.002) / buy_val[i])
        print("buy date : %s, buy price : %.2f" %(buy_date[i], buy_val[i]))
        print("sell date: %s, sell price: %.2f" %(sell_date[i], sell_val[i]))

    print("rate: %.2f" % rate)

In [51]:
STOCK = '600728'       ##佳都
parse(STOCK)

stock number: 600728
buy count   : 45
sell count  : 45
buy date : 2016-11-01, buy price : 9.65
sell date: 2016-11-02, sell price: 9.49
buy date : 2016-11-09, buy price : 9.59
sell date: 2016-11-22, sell price: 9.54
buy date : 2016-12-16, buy price : 8.85
sell date: 2016-12-19, sell price: 8.80
buy date : 2016-12-20, buy price : 8.89
sell date: 2016-12-23, sell price: 8.64
buy date : 2017-01-04, buy price : 8.66
sell date: 2017-01-06, sell price: 8.55
buy date : 2017-01-09, buy price : 8.57
sell date: 2017-01-10, sell price: 8.53
buy date : 2017-01-12, buy price : 8.62
sell date: 2017-01-16, sell price: 8.17
buy date : 2017-01-23, buy price : 8.50
sell date: 2017-02-10, sell price: 8.64
buy date : 2017-02-13, buy price : 8.67
sell date: 2017-02-15, sell price: 8.56
buy date : 2017-02-24, buy price : 8.59
sell date: 2017-03-02, sell price: 8.60
buy date : 2017-03-07, buy price : 8.92
sell date: 2017-03-21, sell price: 9.19
buy date : 2017-04-06, buy price : 8.95
sell date: 2017-04-07, sell price: 8.84
buy date : 2017-05-10, buy price : 7.27
sell date: 2017-05-22, sell price: 7.33
buy date : 2017-06-02, buy price : 7.37
sell date: 2017-06-09, sell price: 7.35
buy date : 2017-06-21, buy price : 7.37
sell date: 2017-07-17, sell price: 7.87
buy date : 2017-07-20, buy price : 8.89
sell date: 2017-08-01, sell price: 8.62
buy date : 2017-08-07, buy price : 8.58
sell date: 2017-09-14, sell price: 11.34
buy date : 2017-10-09, buy price : 11.00
sell date: 2017-10-11, sell price: 10.70
buy date : 2017-10-30, buy price : 10.13
sell date: 2017-11-03, sell price: 9.53
buy date : 2017-11-07, buy price : 9.90
sell date: 2017-11-22, sell price: 10.18
buy date : 2017-12-07, buy price : 8.64
sell date: 2017-12-12, sell price: 8.52
buy date : 2017-12-15, buy price : 8.58
sell date: 2017-12-18, sell price: 8.40
buy date : 2017-12-29, buy price : 8.25
sell date: 2018-01-12, sell price: 8.40
buy date : 2018-02-14, buy price : 6.89
sell date: 2018-03-19, sell price: 10.65
buy date : 2018-03-22, buy price : 10.76
sell date: 2018-03-23, sell price: 9.67
buy date : 2018-04-02, buy price : 10.37
sell date: 2018-04-03, sell price: 9.97
buy date : 2018-04-23, buy price : 9.63
sell date: 2018-04-26, sell price: 9.07
buy date : 2018-05-15, buy price : 8.53
sell date: 2018-05-16, sell price: 8.39
buy date : 2018-05-23, buy price : 8.33
sell date: 2018-05-25, sell price: 8.06
buy date : 2018-06-05, buy price : 7.93
sell date: 2018-06-13, sell price: 7.93
buy date : 2018-06-29, buy price : 7.29
sell date: 2018-07-05, sell price: 6.81
buy date : 2018-07-09, buy price : 7.09
sell date: 2018-07-11, sell price: 7.01
buy date : 2018-07-12, buy price : 7.24
sell date: 2018-07-27, sell price: 7.43
buy date : 2018-08-09, buy price : 7.22
sell date: 2018-08-17, sell price: 7.01
buy date : 2018-08-27, buy price : 7.22
sell date: 2018-08-30, sell price: 7.05
buy date : 2018-09-19, buy price : 6.81
sell date: 2018-09-27, sell price: 6.63
buy date : 2018-09-28, buy price : 7.01
sell date: 2018-10-11, sell price: 6.30
buy date : 2018-10-26, buy price : 6.05
sell date: 2018-10-29, sell price: 5.95
buy date : 2018-10-30, buy price : 6.11
sell date: 2018-11-28, sell price: 7.90
buy date : 2018-12-03, buy price : 8.08
sell date: 2018-12-05, sell price: 7.88
buy date : 2019-01-04, buy price : 6.95
sell date: 2019-01-30, sell price: 7.92
buy date : 2019-02-01, buy price : 8.13
sell date: 2019-03-14, sell price: 11.03
buy date : 2019-03-19, buy price : 11.89
sell date: 2019-03-28, sell price: 12.04
buy date : 2019-04-01, buy price : 12.65
sell date: 2019-04-04, sell price: 12.38
buy date : 2019-04-24, buy price : 11.37
sell date: 2019-04-25, sell price: 10.67
rate: 1.76

## 4 选取某三个行业中上市公司若干关键指标（市盈率，市净率等）的相关性

In [33]:
# -*- coding: utf-8 -*- 
from collections import OrderedDict 
import numpy as np 
import pandas as pd 
import datetime as dt 
import seaborn as sns 
import tushare as ts 
from bokeh.charts import Bar, output_file,show

ModuleNotFoundError: No module named 'bokeh.charts'

In [ ]:
cls = ts.get_industry_classified() 
stk = ts.get_stock_basics() 
cls = cls.set_index('code') 
tcls = cls[['c_name']] 
tstk = stk[['pe', 'pb', 'esp', 'bvps']] 
df = tcls.join(tstk, how='inner') 
clist = [df.iloc[i]['c_name'] for i in range(3)]

def neq(a, b, eps=1e-6): return abs(a - b) > eps 
tdf = df.loc[df['c_name'].isin(clist) & neq(df['pe'], 0.0) & neq(df['pb'], 0.0) & neq(df['esp'], 0.0) & neq(df['bvps'], 0.0)] 

col_mapping = {'pe' : u'P/E', 'pb' : u'P/BV', 'esp' : u'EPS', 'bvps' : u'BVPS'} 
tdf.rename(columns=col_mapping, inplace=True) 
sns.pairplot(tdf, hue='c_name', size=2.5)

In [34]:
tdf

NameError: name 'tdf' is not defined

In [35]:
%matplotlib inline
sns.pairplot(tdf, hue='c_name', size=2.5)

NameError: name 'tdf' is not defined

## 5 均线和candlestick图

In [36]:
import numpy as np 
import pandas as pd 
import datetime as dt 
#import pandas.io.data as web 
from pandas_datareader import data, wb

import matplotlib.dates as mdates 
import matplotlib.mlab as mlab 
import matplotlib.pyplot as plt 
import matplotlib.font_manager as font_manager 

import mpl_finance as finance

%matplotlib inline

import tushare as ts  
pro = ts.pro_api('6cbb7738f458c6366abd8601dc143cf493649fb97a7e6b4f43966902')

ModuleNotFoundError: No module named 'pandas_datareader'

In [37]:
begin_time = '20181101' 
end_time = '20181121' 
code = "600728.sh" 
#df = ts.get_hist_data(code, start=begin_time, end=end_time) 
df = pro.daily(ts_code='600728.sh',start_date=begin_time, end_date=end_time)
df = df.sort_index(0) 
df_idx = df.index.values 
# df.plot() 
print(df.head())

     ts_code trade_date  open  high   low  close  pre_close  change  pct_chg  \
0  600728.SH   20181121  7.95  8.14  7.66   7.97       7.90    0.07   0.8861
1  600728.SH   20181120  8.05  8.30  7.88   7.90       8.29   -0.39  -4.7045
2  600728.SH   20181119  8.15  8.47  8.12   8.29       8.15    0.14   1.7178
3  600728.SH   20181116  8.35  8.36  7.93   8.15       7.79    0.36   4.6213
4  600728.SH   20181115  7.79  7.79  7.79   7.79       7.08    0.71  10.0282

          vol       amount
0   578565.40   458542.728
1   614633.81   494248.015
2   891646.23   738173.447
3  1244701.10  1019665.838
4   175086.39   136392.298

In [38]:
fig, ax = plt.subplots(figsize=(25, 10)) # 设置图片大小。 
# https://matplotlib.org/api/finance_api.html#module-matplotlib.finance 
# matplotlib.finance.candlestick2_ochl(ax, opens, closes, highs, lows, width=4, colorup='r', colordown='g', alpha=0.75) 
finance.candlestick2_ochl(ax = ax, 
                  opens=df["open"].values, 
                  closes=df["close"].values, 
                  highs=df["high"].values, 
                  lows=df["low"].values, 
                  width=0.5, colorup='r', colordown='g', alpha=0.75) 
ax.xaxis.set_major_locator(matplotlib.ticker.MaxNLocator(25)) 
# 设置自动格式化时间。 
def mydate_formatter(x,pos): 
    try: 
        return df_idx[int(x)] 
    except IndexError: 
        return '' 

ax.xaxis.set_major_formatter(matplotlib.ticker.FuncFormatter(mydate_formatter)) 
plt.setp(plt.gca().get_xticklabels(), rotation=45, horizontalalignment='right') 
ax.grid(True) 
plt.title(code) 
plt.show()

NameError: name 'plt' is not defined

## 7  交易明细数据与分时数据

In [39]:
import numpy as np 
import pandas as pd 
import datetime as dt 
import seaborn as sns 
import tushare as ts

In [40]:
df = ts.get_tick_data('600728',date='2018-10-30',retry_count=5, pause=0.5,src='tt')
df.head(10)

       time  price  change  volume  amount type
0  09:25:02   5.99    0.04     754  451646   卖盘
1  09:30:02   5.98   -0.01     470  280683  中性盘
2  09:30:05   5.98    0.00     265  158598   买盘
3  09:30:08   5.99    0.01     130   77768   买盘
4  09:30:10   5.97   -0.02      12    7164   卖盘
5  09:30:14   5.99    0.02      64   38257   买盘
6  09:30:23   5.99    0.00       7    4193   买盘
7  09:30:25   5.99    0.00      27   16173   买盘
8  09:30:32   5.98   -0.01       9    5382   卖盘
9  09:30:41   5.99    0.01       2    1198   买盘

In [41]:
df = ts.get_hist_data('600728',start='2018-11-01',end='2018-11-21',ktype='60',retry_count=3, pause=0.5)
df.head(10)

Empty DataFrame
Columns: [open, high, close, low, volume, price_change, p_change, ma5, ma10, ma20, v_ma5, v_ma10, v_ma20, turnover]
Index: []

## 8  talib 技术指标

http://www.lfd.uci.edu/~gohlke/pythonlibs/ 下载安装 TA-Lib

In [1]:
#coding=utf-8
import tushare as ts
import talib as ta
import numpy as np
import pandas as pd
import os,time,sys,re,datetime
import csv
import scipy

In [2]:
#两个函数
#1、get_stock_basics()，这里得到是对应的dataframe数据结构，code,代码 name,名称 industry,所属行业 area,地区 pe,市盈率 
# outstanding,流通股本 totals,总股本(万) totalAssets,总资产(万)liquidAssets,流动资产 fixedAssets,固定资产 reserved,公积金
# reservedPerShare,每股公积金 eps,每股收益 bvps,每股净资 pb,市净率 timeToMarket,上市日期

#2、get_hist_data(),获取每只股票的历史价格和成交量 对应的列有index列,0 - 6列是 date：日期 open：开盘价 high：最高价 close：收盘价 
# low：最低价 volume：成交量 price_change：价格变动 p_change：涨跌幅
# 7-12列是 ma5：5日均价 ma10：10日均价 ma20:20日均价 v_ma5:5日均量v_ma10:10日均量 v_ma20:20日均量

#1 、首先是获取沪深两市的股票列表
def Get_Stock_List():
    df = ts.get_stock_basics()
    return df

#然后定义通过MACD判断买入卖出
def Get_MACD(df_Code):
    operate_array=[]
    stcok_code=df_Code.index
    for code in df_Code.index:
        df = ts.get_hist_data(code,start='2016-01-03')
        if df is None:           #如code代表的是一个未上市的新股
            stcok_code=stcok_code.drop(code)
            continue   
        dflen = df.shape[0]
        operate = 0
        if dflen>35:
            macd, macdsignal, macdhist = ta.MACD(np.array(df['close']), fastperiod=12, slowperiod=26, signalperiod=9)
                   
            SignalMA5 = ta.MA(macdsignal, timeperiod=5, matype=0)
            SignalMA10 = ta.MA(macdsignal, timeperiod=10, matype=0)
            SignalMA20 = ta.MA(macdsignal, timeperiod=20, matype=0)
            
            #在后面增加3列，分别是13-15列，对应的是 DIFF  DEA  DIFF-DEA       
            df['macd']=pd.Series(macd,index=df.index)            #DIFF
            df['macdsignal']=pd.Series(macdsignal,index=df.index)#DEA
            df['macdhist']=pd.Series(macdhist,index=df.index)    #DIFF-DEA

            MAlen = len(SignalMA5)

            #2个数组 1.DIFF、DEA均为正，DIFF向上突破DEA，买入信号。 2.DIFF、DEA均为负，DIFF向下跌破DEA，卖出信号。

            if df.iat[(dflen-1),13]>0:
                if df.iat[(dflen-1),14]>0:
                    if df.iat[(dflen-1),13]>df.iat[(dflen-1),14]:
                        operate = operate + 1#买入
            else:
                if df.iat[(dflen-1),14]<0:
                    if df.iat[(dflen-1),13]<0:
                        operate = operate - 1#卖出
       
            #3.DEA线与K线发生背离，行情反转信号。
            if df.iat[(dflen-1),7]>=df.iat[(dflen-1),8] and df.iat[(dflen-1),8]>=df.iat[(dflen-1),9]:     #K线上涨
                if SignalMA5[MAlen-1]<=SignalMA10[MAlen-1] and SignalMA10[MAlen-1]<=SignalMA20[MAlen-1]:  #DEA下降
                    operate = operate - 1
            elif df.iat[(dflen-1),7]<=df.iat[(dflen-1),8] and df.iat[(dflen-1),8]<=df.iat[(dflen-1),9]:   #K线下降
                if SignalMA5[MAlen-1]>=SignalMA10[MAlen-1] and SignalMA10[MAlen-1]>=SignalMA20[MAlen-1]:  #DEA上涨
                    operate = operate + 1
                    
            #4.分析MACD柱状线，由负变正，买入信号。
            if df.iat[(dflen-1),15]>0 and dflen >30 :
                for i in range(1,26):
                    if df.iat[(dflen-1-i),15]<=0:#
                        operate = operate + 1
                        break
            #由正变负，卖出信号   
            if df.iat[(dflen-1),15]<0 and dflen >30 :
                for i in range(1,26):
                    if df.iat[(dflen-1-i),15]>=0:#
                        operate = operate - 1
                        break
                        
        operate_array.append(operate)        
    df_Code['MACD']=pd.Series(operate_array,index=stcok_code)   
    return df_Code

 

#输出CSV文件
def Output_Csv(df,Dist):
    TODAY = datetime.date.today()
    CURRENTDAY=TODAY.strftime('%Y-%m-%d')
    df.to_csv(Dist+CURRENTDAY+'stock.csv',encoding='gbk')#选择保存

In [44]:
df = Get_Stock_List()

In [45]:
df.head()

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,,,,,,
600336,澳柯玛,家用电器,山东,25.95,7.32,7.99,609099.56,400569.81,57065.11,116664.07,...,2.35,2.03,20001229,-11215.88,-0.14,16.33,21.63,21.33,2.45,35072.0
000720,新能泰山,火力发电,山东,4.88,8.63,12.90,479977.09,426150.56,7271.87,68570.96,...,1.97,2.88,19970509,43458.90,0.34,214.10,-35.53,43.73,28.67,68804.0
002437,誉衡药业,化学制药,黑龙江,29.44,21.72,21.98,936560.00,284262.09,166758.44,41962.55,...,2.00,2.29,20100623,144766.66,0.66,4.98,-12.91,73.08,6.79,82396.0
600758,红阳能源,煤炭开采,辽宁,24.78,7.86,13.22,1515361.38,567332.38,674407.06,341868.56,...,4.23,1.68,19961029,63868.25,0.48,-15.34,8.73,20.47,5.11,60500.0
000523,广州浪奇,日用化工,广东,86.91,6.27,6.28,713779.88,626476.63,41243.64,98874.85,...,3.04,1.98,19931108,22767.42,0.36,-3.84,16.22,3.28,0.36,36240.0

In [46]:
np.unique(df['industry'])

TypeError: '<' not supported between instances of 'str' and 'float'

In [47]:
df1=df[df['industry']=='软件服务']

In [48]:
df1.index

Index(['300773', '300561', '300508', '600728', '300010', '600410', '300659',
       '300525', '300287', '603508',
       ...
       '300248', '000555', '000851', '300050', '300249', '300663', '300552',
       '603383', '300678', '601519'],
      dtype='object', name='code', length=173)

In [49]:
df = Get_MACD(df1)
Dist = 'data/'
Output_Csv(df,Dist)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy